*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
  font-family: myFont;
  src: url(FiraGO-Regular.ttf);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 110px;
}
.nav-links{
    flex: 1;
    text-align: left;
    margin-left: 3%;
    margin-top: 1.6%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: grey;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    font-family: myFont;
}
.nav-links .prod a{
    color: black;
}
.nav-links .register a{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: green;
    color: #fff;
    padding: 5px;
}

.nav-links .author a{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: red;
    color: #fff;
    padding: 5px;
}

.nav-links .logout a {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: green;
    color: #fff;
    padding: 5px;
    }

.sponsor{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.tbc-logo{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  }