{% set four = "active" %}
{% extends "base.html" %}

{% block content %}
    <main>
        <div class="main-links">
            <ul>
                <li class="tbilisi"><a href="">თბილისი</a></li>
                <li><a href="">თელავი</a></li>
                <li><a href="">ბათუმი</a></li>
                <li><a href="">ქუთაისი</a></li>
                <li><a href="">ზუგდიდი</a></li>
                <li class="mcxeta"><a href="">მცხეთა</a></li>
            </ul>
        </div>
    </main>
    <div class="maps">
    <iframe class="eliava-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.530166845607!2d44.77670777581955!3d41.73065617463316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472c4beaf4adb%3A0x4b0965cedb9b1af1!2sEliava%20Market!5e0!3m2!1sen!2sge!4v1693633514991!5m2!1sen!2sge" width="1355px" height="728px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="first-info">
        <nav>
            <div class="info-links">
                <ul>
                    <li><img src="/static/Subtract-1.svg"><a href="">ელიავას ბაზრობა</a></li>
                    <li><img src="/static/Subtract-2.svg"><a class="info-font"  href="">სანაპიროდან || რიგი</a></li>
                    <li><img src="/static/Union.svg"><a class="info-font" href="">ორშაბათი-შაბათი</a></li>
                    <li><img src="/static/Subtract.svg"><a class="info-font" href="">09:00 - 18:00</a></li>
                    <li><img src="/static/Vector (Stroke).svg"><a class="info-font" href="">597 76 40 67 ბონდო</a></li>
                    <li><img src="/static/Vector (Stroke).svg"><a class="info-font" href="">574 58 11 38 გია</a></li>
                </div>
            </ul>
        </nav>
    </div>
    </div>
    <div class="maps1">
        <iframe class="lilo-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5958.684850218866!2d44.994825061147786!3d41.6915429933707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4044105507de3ef1%3A0x8854c5fbd5921e1f!2z4YOa4YOY4YOa4YOd4YOhIOGDkeGDkOGDluGDoOGDneGDkeGDkA!5e0!3m2!1sen!2sge!4v1693633506745!5m2!1sen!2sge" width="1355px" height="728px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="first-info1">
    <nav>
        <div class="info-links1">
            <ul>
                <li><img src="/static/Subtract-1.svg"><a href="">ლილოს ბაზრობა</a></li>
                <li><img src="/static/Subtract-2.svg"><a class="info-font"  href="">10 A რიგი, მაღაზია 56</a></li>
                <li><img src="/static/Union.svg"><a class="info-font" href="">ორშაბათი-შაბათი</a></li>
                <li><img src="/static/Subtract.svg"><a class="info-font" href="">09:00 - 18:00</a></li>
                <li><img src="/static/Vector (Stroke).svg"><a class="info-font" href="">598 68 69 95 გიორგი</a></li>
                <li><img src="/static/Vector (Stroke).svg"><a class="info-font" href="">577 88 48 47 სოსო</a></li>
            </ul>
        </div>
    </nav>
    </div>
    </div>
    <footer class="end">
        <a href="four.html"><img class="endI" src="/static/LOGO-END.svg"></a>
        <div class="all1">
            <a href=""><img class="end-logo" src="/static/fb.svg"></a>
            <a href=""><img class="end-logo" src="/static/insta.svg"></a>
            <a href=""><img class="end-logo" src="/static/link.svg"></a>
            <a href=""><img class="end-logo" src="/static/Group 1380.svg"></a>
            </div>
            <div class="number">
                <p class="numberP">+48 552 885 0202 626</p>
                </div>
                <div class="info">
                    <p class="infoD">Denmark. Kalmar. North str. 4311</p>
                </div>
                <div id="G2023">
                    <img src="/static/© 2023. All rights reserved.svg">
                </div>
                <nav>
                    <div class="nav-end">
                        <ul>
                            <li><a href="">Gift card</a></li>
                            <li><a href="">Booking</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">About us</a></li>
                        </ul>
                    </div>
                </nav>
    </footer>
{% endblock %}