{% set index = "active" %}
{% extends "base.html" %}
{% block content %}
<section class="header"></section>
        <div class="arrows">
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="two">
            <img class="twoI" src="/static/2-10 1.png">
            <img class="twoI" src="/static/18-8 1.png">
        </div>
        <div class="twoT">
            <h1 class="twoH">კედლის</h1>
            <h1 class="twoH1">ჭერის</h1>
        </div>
        <div class="two-link">
            <a class="twoA" href="">ყველა პროდუქციის ნახვა<i class="fas fa-angle-double-right"></i></a>
            <a class="twoA" href="">ყველა პროდუქციის ნახვა<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="header1">
            <h1 class="header1H">ყველაზე გაყიდვადი ამ კვირაში:</h1>
            <marquee>
            <div class="cont">
                <img class="contI" src="/static/პროდუქტი.png">
                <img class="contI" src="/static/პროდუქტი-2.png">
                <img class="contI" src="/static/პროდუქტი-3.png">
                <img class="contI" src="/static/პროდუქტი 4.png">
            </div>
            <div class="cont1">
                <img class="cont1I" src="/static/აღწერა.svg">
                <img class="cont2I" src="/static/აღწერა-2.svg">
                <img class="cont3I" src="/static/აღწერა-1.svg">
                <img class="cont4I" src="/static/აღწერა.svg">
            </div>
            <div class="links">
                <a class="linksA" href="">ყველას ნახვა<i class="fas fa-angle-double-right"></i></a>
                <a class="linksB" href="">ყველას ნახვა<i class="fas fa-angle-double-right"></i></a>
                <a class="linksC" href="">ყველას ნახვა<i class="fas fa-angle-double-right"></i></a>
                <a class="linksD" href="">ყველას ნახვა<i class="fas fa-angle-double-right"></i></a>
            </div>
            </marquee>
        </div>
        <div class="page">
            <img class="pageI" src="/static/first.png">
            <img class="pageI" src="/static/second.png">
            <img class="pageI" src="/static/three.png">
        </div>
        <div class="page1">
            <img class="page1I" src="/static/firsts.png">
            <img class="page1I" src="/static/seconds.png">
            <img class="page1I" src="/static/threes.png">
        </div>
        <div class="page2">
            <a class="page2A" href="">მაჩვენე მეტი ...</a>
        </div>
        <div class="info-maps">
            <div class="back1">
                <h1 class="back1H">ჩვენი ფილიალები</h1>
                <h2 class="back1HH">ელიავას ბაზრობა</h2>
                <p class="back1P">სანაპიროდან მეორე რიგი მაღაზია #23</p>
                <h3 class="together">597 76 40 67 ბონდო
                    574 58 11 38 გია
                </h3>
            </div>
            <iframe class="gomap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2601.08046037724!2d44.77901623315988!3d41.73054242195343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472c4beaf4adb%3A0x4b0965cedb9b1af1!2sEliava%20Market!5e0!3m2!1sen!2sge!4v1693215679702!5m2!1sen!2sge" width="900px" height="728px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    <footer class="end">
        <a href="/"><img class="endI" src="/static/LOGO-END.svg"></a>
        <div class="all1">
            <a href=""><img class="end-logo" src="/static/fb.svg"></a>
            <a href=""><img class="end-logo" src="/static/insta.svg"></a>
            <a href=""><img class="end-logo" src="/static/link.svg"></a>
            <a href=""><img class="end-logo" src="/static/Group 1380.svg"></a>
            </div>
            <div class="number">
                <p class="numberP">+48 552 885 0202 626</p>
                </div>
                <div class="info">
                    <p class="infoD">Denmark. Kalmar. North str. 4311</p>
                </div>
                <div id="G2023">
                    <img src="/static/© 2023. All rights reserved.svg">
                </div>
                <nav>
                    <div class="nav-end">
                        <ul>
                            <li><a href="">Gift card</a></li>
                            <li><a href="">Booking</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">About us</a></li>
                        </ul>
                    </div>
                </nav>
    </footer>
{% endblock %}