{% set second = "active" %}
{% extends "base.html" %}

{% block content %}
    <section class="background">
        <div class="all">
        <img class="backImg" src="/static/სურათი.png">
            <nav>
                <div class="nav-color">
                <ul>
                    <li><a href="">თეთრი</a></li>
                    <li><a href="">ვერცხლი</a></li>
                    <li><a href="">ოქრო</a></li>
                    <li><a href="">ლატუნი</a></li>
                    <li class="brownT"><a href="">ბრინჯაო</a></li>
                    <li class="blackT"><a href="">შავი</a></li>
                </ul>
                <div class="nav-color1">
                <ul>
                    <li><img src="/static/Rectangle-white.svg"></li>
                    <li><img class="silver" src="/static/Rectangle-silver.svg"></li>
                    <li><img src="/static/Rectangle-gold.svg"></li>
                    <li><img src="/static/Rectangle 5.svg"></li>
                    <li><img src="/static/Rectangle-brown.svg"></li>
                    <li><img src="/static/Rectangle-black.svg"></li>
                </ul>
                <div class="nav-color2">
                <ul>
                    <li><a href="">მარაგშია</a></li>
                    <li><a href="">მარაგშია</a></li>
                    <li class="delete"><a href="">ამოიწურა</a></li>
                    <li><a href="">მარაგშია</a></li>
                    <li class="delete"><a href="">ამოიწურა</a></li>
                    <li><a href="">მარაგშია</a></li>
                </ul>
                <div class="nav-size">
                    <ul>
                        <li class="size05"><p class="size05P">0,5</p></li>
                        <li class="size1"><p class="size1P">1,0</p></li>
                        <li class="size15"><p class="size15P">1,5</p></li>
                        <li class="size20"><p class="size20P">2,0</p></li>
                        <li class="size25"><p class="size25P">2,5</p></li>
                        <li class="sizeS"><button class="service">მიტანის სერვისი</button><li>
                        <li class="sizeS2"><button class="service1">მონტაჟი</button></li>
                    </ul>
                </div>
                </div>
                </div>
                </div>
            </nav>
            <div class="price">
                <h1 class="priceT">სრული ფასი<div class="prices"><div id="sale">124.0</div><div class="sale1">ლარი</div></h1>
            </div>
            </div>
    </section>
    <main>
        <div class="main-color">
            <ol>
                <li><img src="/static/Rectangle-white.svg"></li>
                <li><img src="/static/Rectangle-silver.svg"></li>
                <li><img src="/static/Rectangle-gold.svg"></li>
                <li><img src="/static/Rectangle 5.svg"></li>
                <li><img src="/static/Rectangle-brown.svg"></li>
                <li><img src="/static/Rectangle-black.svg"></li>
            </ol>
        </div>
    </main>
    <main>
        <div class="main-color1">
            <ol>
            <li class="wallTop"><button class="wall">კედლის კარნიზი</button></li>
            <li class="ceilingTop"><button class="ceiling">ჭერის კარნიზი</button></li>
            <li class="wall7Top"><button class="wall7">ფილტრის გასუფთავება</button></li>
            </ol>
        </div>
    </main>
    <div class="first-move">
        <img src="/static/სურათი.png">
        <img src="/static/სურათი1.png">
        <img src="/static/სურათი2.png">
        <img src="/static/სურათი3.png">
    </div>
    <div class="second-move">
        <img src="/static/სურათი4.png">
        <img src="/static/სურათი5.png">
        <img src="/static/სურათი6.png">
        <img src="/static/სურათი7.png">
    </div>
    <div class="three-move">
        <img src="/static/სურათი8.png">
        <img src="/static/სურათი9.png">
        <img src="/static/სურათი10.png">
        <img src="/static/სურათი11.png">
    </div>
    <div class="four-move">
        <img src="/static/სურათი12.png">
        <img src="/static/სურათი13.png">
        <img src="/static/სურათი14.png">
        <img src="/static/სურათი15.png">
    </div>
    <div class="next">
        <a class="next1" href="">1</a>
        <a class="next2" href="">2</a>
        <a class="next3" href="">3</a>
        <a class="next4" href="">4</a>
        <a class="next5" href="">5</a>
    </div>
    <footer class="end">
        <a href="index.html"><img class="endI" src="/static/LOGO-END.svg"></a>
        <div class="all1">
            <a href=""><img class="end-logo" src="/static/fb.svg"></a>
            <a href=""><img class="end-logo" src="/static/insta.svg"></a>
            <a href=""><img class="end-logo" src="/static/link.svg"></a>
            <a href=""><img class="end-logo" src="/static/Group 1380.svg"></a>
            </div>
            <div class="number">
                <p class="numberP">+48 552 885 0202 626</p>
                </div>
                <div class="info">
                    <p class="infoD">Denmark. Kalmar. North str. 4311</p>
                </div>
                <div id="G2023">
                    <img src="/static/© 2023. All rights reserved.svg">
                </div>
                <nav>
                    <div class="nav-end">
                        <ul>
                            <li><a href="">Gift card</a></li>
                            <li><a href="">Booking</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">About us</a></li>
                        </ul>
                    </div>
                </nav>
    </footer>
{% endblock %}